@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h3>@Model.Name</h3>
<ul>
    <li>Genre : @Model.Genre.Name</li>
    <li>Release Date : @Model.ReleaseDate.ToString("MMMM dd, yyyy")</li>
    <li>DateAdded : @Model.DateAdded.ToString("MMMM dd, yyyy")</li>
    <li>NumberInStock : @Model.NumberInStock</li>

</ul>

</br>
@Html.ActionLink("Edit", "Edit", new { id = Model.Id })

