@model Vidly.ViewModel.MovieViewModel
@{
    ViewBag.Title = "New";
}
@if (Model.movie==null)
{
    <h2>New Movie</h2>
}
else
{
    <h2>Edit Movie</h2>
}
@using (Html.BeginForm("Save", "Movie"))
{
    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(c => c.movie.Name)
        @Html.TextBoxFor(c => c.movie.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c=>c.movie.Name)
    </div>

    <div>
        @Html.LabelFor(c => c.movie.GenreId)
        @Html.DropDownListFor(c => c.movie.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(c=>c.movie.GenreId)
     </div>
    <div>
        @Html.LabelFor(c => c.movie.ReleaseDate)
        @Html.TextBoxFor(c => c.movie.ReleaseDate,"{0:d MMM yyyy}", new { @class = "form-control"})
        @Html.ValidationMessageFor(c=>c.movie.ReleaseDate)
    </div>
    <div>
        @Html.LabelFor(c => c.movie.DateAdded)
        @Html.TextBoxFor(c => c.movie.DateAdded, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(c => c.movie.NumberInStock)
        @Html.TextBoxFor(c => c.movie.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(c=>c.movie.NumberInStock)
    </div>
    @Html.HiddenFor(c=>c.movie.Id)

    @Html.AntiForgeryToken()
    <br />
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

